<div class="row">
    <div class="col-md-6 ">
        <div class="card rounded-4 bg-light">
            <img src="../../assets//images/testing.jpg" class=" rounded-4" alt="">
        </div>
    </div>
    <div *ngIf="isData" class="col-md-6" style="height:25rem;">
        <div class="bg-light rounded-4 container p-5">
            <h4>{{productDetails.prodName}}</h4>
            <hr>
            <h4>Product Description</h4>
            <p>{{productDetails.prodDesc}}</p>
            <hr>
            <h4>Price</h4>
            <p>{{productDetails.prodPrice}}</p>
            <hr>
            <h4>Category</h4>
            <p>{{productDetails.prodCategory}}</p>
            <div>
                <button [routerLink]="['/editProduct/',productDetails._id]" routerLinkActive="router-link-active"
                    class="btn btn-warning px-3">Edit</button>
                <button [routerLink]="['/deleteProduct/',productDetails._id]" routerLinkActive="router-link-active"
                    class="btn btn-danger mx-2 px-3">Delete</button>
            </div>
        </div>
    </div>
</div>